# CMake
build
*.user

# Mac
.DS_Store

# Clang
.cache

# MCUxpresso
.metadata
.mcuxpressoide_packages_support
Debug
Release
doc
.settings
*.launch

# VS
out
.vs
.vscode
CMakeSettings.json

# Emacs
*~

# Latex
*.aux
*.bcf
*.lof
*.log
Text/BachelorThesis.pdf
*.run.xml
*.toc
*.deb.bin
*.lot
*.out
*.xmpi
*.fls
*.bbl*
*.blg
*.fdb_latexmk
*.synctex.gz

venv

# CLion
.idea
cmake-build-debug
