# CMake
build
*.user

# Mac
.DS_Store

# Clang
.cache

# MCUxpresso
.metadata
.mcuxpressoide_packages_support
Debug
doc
.settings
*.launch

# UI app
settings.json

# VS code
.vscode
*.code-workspace

# Emacs
*~