# CMake
build
*.user

# Mac
.DS_Store

# Clang
.cache

# MCUxpresso
.metadata
.mcuxpressoide_packages_support
Debug
Release
doc
.settings
*.launch

# UI app
settings.json

# VS code
.vscode
*.code-workspace

# VS
out
.vs
*.json

# Emacs
*~

# Latex
*.aux
*.bcf
*.lof
*.log
Text/BachelorThesis.pdf
*.run.xml
*.toc
*.deb.bin
*.lot
*.out
*.xmpi

venv

# CLion
.idea
cmake-build-debug
